/*
 * id: #
 * class: .
 * 
 *  */


body {
	background-color: hotpink;
	min-height:100%;
	width:100%;
	margin:0;
	padding:0;
	}
#page-container{
	width:100%;
	margin:0;
	padding:0;
	background-color:#FFF;
}
#page-cropped{
	min-width:600px;
	max-width:825px;
	
	
	padding:none;
	margin:auto;
	background-color:#F3F3F3;
	}

/*---	header	------------------------*/
#header{
	width:100%;
	display:table;
	overflow: hidden;
	
	}	
.head-sub{
	display:table-cell;
	vertical-align:middle;
	}
#headl{
	padding-left:1em;
	color:#900;
	font-size:20pt;
	font-variant: small-caps;
	}
#headr{
	padding-right:1em;
	font-size:10pt;
	float:right;
	text-align:center;
	}

/*--- vblocks ---------------------------*/
.vblock{
	color: black;
	padding-top: .75em;
	}
.vblock-title{
	color: #900;
	font-size: 12pt;
	font-style: oblique;
	font-family: sans;
	font-variant: small-caps;
	letter-spacing: .1em;
	}
.vblock-hr{
	width: 100%;
	border-bottom: 1px solid #900000;
	}
.vblock-body{
	margin:0;
	padding-left: 1em;
	padding-top: .15em;
	padding-right: .5em;
	font-size: 11pt;
	}
#summary{
	}
#education{
	}
#technical{
	}
#projects{
	}
#experience{
	}

/*--- content -----------------------*/
.firstword{
	font-weight: bold;
	}
.rightdate{
	float:right;
	font-style:oblique;
	}
ul{
	padding:0;
	margin:0;
	}
	
.nodot{
	list-style-type:none;
	}
.bullet{
	margin-left: 1.5em;
	}
.hang{
	padding-left: 1.5em;
	text-indent: -1.5em;
	}
.bighang{
	padding-left: 7em;
	padding-right: 3em;
	text-indent: -7em;
	}
	
.bullet-head-title{
	padding:none;
	margin:0;
	list-style-type:none; 
	
	font-size:12pt;
	font-variant: small-caps;
	font-weight:bold;
	}	
.bullet-head-location{
	font-style:oblique;	
	font-size:11pt;
	}
.spacer{
	padding-top: .33em;
	}

/*--- tech table -----------------------*/
table{
	width:100%;
	}
table, td, th {
	border: 0px solid black;
	padding: 0;
	
    }
td{
	
	text-align:center;
	font-size:11pt;
	}
